* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 100px auto 12px;
  grid-template-columns: 100vw;
  height: 100vh;
  //width: 100vw;
  background: var(--dark);
}

main {
  font-family: sans-serif;
  background: var(--lightest);
  overflow: scroll;
  width: 100vw;
  //margin: 0;
}

// :root {
//   --lightest: #effffb;
//   --light: #50d890;
//   --medium: #4f98ca;
//   --dark: #272727;
// }

// :root {
//   --lightest: #e4f9f5;
//   --light: #30e3ca;
//   --medium: #11999e;
//   --dark: #40514e;
// }

:root {
  --lightest: #f4f7ed;
  --light: #86ee60;
  --medium: #2e6e65;
  --dark: #2b3752;
}

// :root {
//   --lightest: #f1f3f4;
//   --light: #79bac1;
//   --medium: #2a7886;
//   --dark: #512b58;
// }
// :root {
//   --lightest: #bbb;
//   --light: #e9ea77;
//   --medium: #297ca0;
//   --dark: #46185f;
// }
