* {
  box-sizing: border-box;
}
:root {
  --primary: #effffb;
  --secondary: #50d890;
  --tertiary: #4f98ca;
  --quartery: #272727;
}
main {
  font-family: sans-serif;
  background: var(--primary);
  height: 100vh;
  overflow-y: scroll;
  margin: 0;
}
body {
  background: var(--quartery);
}
