input[type='checkbox'] {
  display: none;
}

.card__hidden .card__content {
  background: var(--lightest);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 0.5rem;
}

.card__label {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem;
  color: var(--lightest);
  background: var(--medium);
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
  margin: 0 10px;
}

.card__hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  margin-bottom: 12px;
}

.card__toggle:checked + .card__label + .card__hidden {
  max-height: 100vh;
  margin: 0 10px;
}

.card__label::after {
  content: ' ';
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;
  vertical-align: middle;
  margin-left: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}

.card__toggle:checked + .card__label::after {
  transform: rotate(90deg) translateX(-3px);
}

.card__toggle:checked + .card__label {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
