input[type="checkbox"] {
  display: none;
}
.card__content .card__inner {
  background: var(--tertiary);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  color: var(--quartery);
  background: var(--secondary);
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
  margin: 0 10px;
}

.card__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  margin-bottom: 12px;
}

.toggle:checked + .lbl-toggle + .card__content {
  max-height: 100vh;
  margin: 0 10px;
}

.lbl-toggle::after {
  content: " ";
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;
  vertical-align: middle;
  margin-left: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::after {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
